<body>
  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://fdn.gsmarena.com/imgroot/news/20/03/macbook-air-2020/-1220x526/gsmarena_000.jpg">
                  <h3>MacBook Pro 17"</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Apple has both updated 14 and 16-inch MacBook Pro models in the works. The 14-inch model will replace the current 13.3-inch model, while the 16-inch model will replace the existing 16-inch version that's available..</p>
                      <a href="https://www.apple.com/macbook-pro/">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://fdn.gsmarena.com/imgroot/news/21/01/macbook-pro-2021-14-16-new-design/-1220x526/gsmarena_000.jpg">
                  <h3>MacBook Pro 15"</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>For the revamped 14-inch model, it's likely that the overall casing size will remain similar to the 13-inch MacBook Pro, with the increase in display size..</p>
                      <a href="https://www.macrumors.com/guide/14-inch-macbook-pro/">Read More</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://fdn.gsmarena.com/imgroot/news/20/11/apple-macbook-pro-m1/-1220x526/gsmarena_000.jpg">
                  <h3>Macbook Pro 13"</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>There may be a slight increase in physical size, however. When Apple transitioned from the 15.4-inch MacBook Pro to the 16.1-inch MacBook Pro, the physical sizing went from 13.75 x 9.</p>
                      <a href="https://www.macrumors.com/guide/14-inch-macbook-pro/">Read More</a>
              </div>
          </div>
      </div>
  </div>
</body>
